.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 200px 1fr;
}

.diagonalBox {
  background-image: linear-gradient(to bottom right, black 50%, white 50%);
}

.whiteRectangle {
  background-color: white;
}

.blackRectangle {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profileImage {
  object-fit: cover;
  border-radius: 2%;
  margin-right: 50px;
}

.infoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.introText {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 6px;
  color: red;
  margin-bottom: 4px;
}

.nameText {
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  margin-bottom: 7px;
}

.descriptionText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 40px;
}
