.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.headerContainer {
  margin-top: 111px;
  margin-bottom: 53px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: white;
}

.skillsContainer {
  display: grid;
  grid-template-columns: 350px 350px;
  justify-content: center;
  margin: 0px 87px 75px;
  gap: 31px;
}

@media screen and (max-width: 768px) {
  .skillsContainer {
    grid-template-columns: minmax(auto, 350px);
    margin: 0px 40px 75px;
  }
}
