/* Projects */
.wrapper {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.backgroundGradient {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.7) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  bottom: 0px;
  height: 100px;
  width: 100%;
}

.projectBox {
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 38px 32px;
}

.coverTitle {
  position: absolute;
  color: white;
  bottom: 0px;
  left: 32px;
}

.coverIcon {
  position: absolute;
  color: white;
  bottom: 0px;
  right: 32px;
  margin-bottom: 25px;
}

/* Skills */
.skillBox {
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 38px 32px;
}

/* Need this because we can't use framer motion on icons */
.skillBox:hover :is(.icon) {
  color: red;
}

/* Experience */
.experienceBox {
  width: 451px;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 38px 32px;
}

/* Common */
.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 63px;
  margin-bottom: 36px;
  border-radius: 20px 20px 0px 20px;
  background-color: black;
}

.icon {
  width: 38px;
  height: 38px;
  color: white;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 37.5px;
  margin-bottom: 15px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .skillBox {
    height: auto;
  }

  .experienceBox {
    width: auto;
  }

  /* Make sure this doesn't change on hover with small screens */
  .skillBox:hover :is(.icon) {
    color: white;
  }
}
