.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1600px;
}

.navLogo {
  color: red;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 37px;
  font-family: Poppins;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 32px;
  gap: 30px;
}

.navLinks {
  color: red;
  text-decoration: none;
  height: 100%;
  border-bottom: 3px solid transparent;
  font-family: Poppins;
  line-height: 40px;
}

.icon {
  margin-left: 16px;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
  text-decoration: none;
}

.navLinks:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navLinks:hover:after {
  width: 100%;
  background: red;
}

.navLinks.active:has(.navItem):after {
  width: 100%;
  background: red;
}

.navIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0px;
    left: -110%;
    transition: all 0.5s ease;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
  }

  .navMenu.active {
    background: black;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navItem {
    left: 0px;
    right: 0px;
    margin: 0;
  }

  .navLinks.active {
    color: white;
  }

  .navLinks:hover:after {
    width: 100%;
  }

  .navLinks.active:has(.navItem):after {
    width: 0%;
    background: transparent;
  }

  .navLinks.active:has(.navItem):hover:after {
    width: 100%;
    background: red;
  }

  .navItem {
    padding: 24px 0;
    width: 100%;
    display: table;
  }

  .navIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 28px;
    cursor: pointer;
    color: red;
    z-index: 1;
  }
}
